body {
    margin: 0;
    padding: 0;

    background-image: url("/images/bg.jpg");
    background-repeat: repeat;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;     
}

#main-text {
    margin: auto;
    width: 80%;
}

#titlebar {
    padding-top: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(172, 34, 34);
    text-align: center;
}

#bottombar-div p {
    font-size: 10pt;
    text-align: center;
}

#titlebar h1 {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

#titlebar p {

    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.websitelisting {
    background-color: rgba(0, 0, 0, 0.12);
    margin-bottom:30px;
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 15px;
}

.websitelisting h2 {
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1px;
    margin-top: 0px;
}

.websitelisting a:link {
    color: rgb(172, 34, 34);
    text-decoration: none;
}

.websitelisting a:visited {
    color: rgb(172, 34, 34);
    text-decoration: none;
}

.websitelisting a:hover {
    color: rgb(204, 38, 38);
    text-decoration: none;
}

.websitelisting p {
    margin-top: 0px;
    margin-bottom: 0px;
}

#navbar {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(50, 50, 50);
    
    margin-bottom: 20px;
}

#navbar a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17pt;
}

#navbar a:hover {
    color: rgb(50, 50, 50);
    background-color: #f2f2f2;
}

#upselectthing {
    margin-bottom: 10px;
}